%div.container
  %p.notice= notice
  %h1= 'Listing Classrooms'
  -#%div
  -#  = form_tag(classrooms_path, method: 'get', class: 'pull-right', role: 'search', id: 'nav-search') do
  -#    %div.input-group
  -#      = text_field_tag :search, params[:search], class:'form-control l', placeholder: 'busco por...'
  -#      %span.input-group-btn
  -#        %button.btn.btn-default
  -#          %span.glyphicon.glyphicon-search{:aria_hidden=>'true'}
  %br
  %br

  %table.table-responsive.table.table-bordered
    %thead
      %tr
        %th= 'Student'
        %th= 'Course'
        %th= 'Created At'
        %th= 'Actions'
    %tbody
      - @classrooms.each do |classroom|
        %tr
          %td= link_to classroom.student.name, classroom.student
          %td= link_to classroom.course.name, classroom.course
          %td= classroom.created_at.strftime("%d/%m/%Y")
          %td
            = link_to edit_classroom_path(classroom) do
              %span.glyphicon.glyphicon-edit{:aria_hidden=>'true'}
            = link_to classroom, method: :delete, data: {confirm: 'Are you sure?'} do
              %span.glyphicon.glyphicon-trash{:aria_hidden=>'true'}
            = link_to classroom do
              %span.glyphicon.glyphicon-eye-open{:aria_hidden=>'true'}


  = link_to 'New classroom', new_classroom_path, class: 'btn btn-primary'