%div.container
  %p.notice= notice
  %table.table.table-bordered.table-responsible
    %tbody
      %tr
        %td= 'Name'
        %td= @student.name
      %tr
        %td= 'Register Numver'
        %td= @student.register_number
      %tr
        %td= 'Created At'
        %td= @student.created_at.strftime("%d/%m/%Y")

  %hr

  =link_to 'Back', students_path, class: 'btn btn-default'
  =link_to 'Edit', edit_student_path(@student), class: 'btn btn-primary'