<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Listing Courses</h1>


  <div class="nav">
    <%= form_tag(courses_path, method: 'get', class: 'pull-right form ui', role: 'search', id: 'nav-search') do %>
        <div class="ui icon input">
          <%= text_field_tag :search, params[:search], placeholder: 'busco por...' %>
          <i class="search icon"></i>
        </div>
    <% end %>
  </div><br>

  <table class="table-responsive table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td><%= link_to course.name, course %></td>
            <td><%= link_to 'Edit', edit_course_path(course)%></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Course', new_course_path, class: 'btn btn-primary' %>
</div>