%div.container
  %p.notice= notice
  %table.table.table-bordered.table-responsible
    %tbody
      %tr
        %td= 'Name'
        %td= @course.name
      %tr
        %td= 'Description'
        %td= @course.description
      %tr
        %td= 'Created At'
        %td= @course.created_at.strftime("%d/%m/%Y")
  %hr
  =link_to 'Back', courses_path, class: 'btn btn-default'
  =link_to 'Edit', edit_course_path(@course), class: 'btn btn-primary'